:root {
  --color-background: #fcf5ee;
  --color-text: #000000;
  --color-primary: #ee6983;
  --color-card: #ffc4c4;
  --color-border: #850e35;
}

[data-theme="darkPink"] {
  --color-background: #3a0519;
  --color-text: #ffffff;
  --color-primary: #a53860;
  --color-card: #670d2f;
  --color-border: #ef88ad;
}

[data-theme="devMode"] {
  --color-background: #03001c;
  --color-text: #ffffff;
  --color-primary: #b6eada;
  --color-card: #5b8fb9;
  --color-border: #301e67;
}
